name: CI

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set env
        run: |
          echo "VERSION=$(git describe --tags `git rev-list --tags --max-count=1`)" >> $GITHUB_ENV
          echo "GITREV=$(git describe --tags `git rev-list --tags --max-count=1`)-$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "OPENWCLIBINARY=openw-cli-$(git describe --tags `git rev-list --tags --max-count=1`)-$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "OPENWCLILDFLAGS=-X github.com/blocktree/go-openw-cli/v2/openwcli.Version=$(git describe --tags `git rev-list --tags --max-count=1`) -X github.com/blocktree/go-openw-cli/v2/openwcli.GitRev=$(git rev-parse --short HEAD) -X github.com/blocktree/go-openw-cli/v2/openwcli.BuildTime=$(date +'%Y-%m-%d_%T')" >> $GITHUB_ENV
      - name: Build with xgo
        uses: crazy-max/ghaction-xgo@v1.0.0
        with:
          go_version: 1.13.3
          dest: build/
          prefix: ${{ env.OPENWCLIBINARY }}
          targets: darwin-10.10/amd64,linux/amd64,windows-6.0/*
          ldflags: ${{ env.OPENWCLILDFLAGS }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v1.0.0
        with:
          name: openw-cli-artifacts
          path: build/
      - name: Compress artifacts
        run: |
          mkdir release
          zip --junk-paths release/openw-cli-${{ env.GITREV }}-darwin-10.10-amd64.zip build/openw-cli-${{ env.GITREV }}-darwin-10.10-amd64
          zip --junk-paths release/openw-cli-${{ env.GITREV }}-linux-amd64.zip build/openw-cli-${{ env.GITREV }}-linux-amd64
          zip --junk-paths release/openw-cli-${{ env.GITREV }}-windows-6.0-386.exe.zip build/openw-cli-${{ env.GITREV }}-windows-6.0-386.exe
          zip --junk-paths release/openw-cli-${{ env.GITREV }}-windows-6.0-amd64.exe.zip build/openw-cli-${{ env.GITREV }}-windows-6.0-amd64.exe
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ env.VERSION }}
          draft: false
          prerelease: false
      - name: Upload Release Asset (1/4)
        id: upload-release-asset-1
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./release/openw-cli-${{ env.GITREV }}-darwin-10.10-amd64.zip
          asset_name: openw-cli-${{ env.GITREV }}-darwin-10.10-amd64.zip
          asset_content_type: application/zip
      - name: Upload Release Asset (2/4)
        id: upload-release-asset-2
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./release/openw-cli-${{ env.GITREV }}-linux-amd64.zip
          asset_name: openw-cli-${{ env.GITREV }}-linux-amd64.zip
          asset_content_type: application/zip
      - name: Upload Release Asset (3/4)
        id: upload-release-asset-3
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./release/openw-cli-${{ env.GITREV }}-windows-6.0-386.exe.zip
          asset_name: openw-cli-${{ env.GITREV }}-windows-6.0-386.exe.zip
          asset_content_type: application/zip
      - name: Upload Release Asset (4/4)
        id: upload-release-asset-4
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./release/openw-cli-${{ env.GITREV }}-windows-6.0-amd64.exe.zip
          asset_name: openw-cli-${{ env.GITREV }}-windows-6.0-amd64.exe.zip
          asset_content_type: application/zip
